@media(min-width: 415px) {
    .nav_black {
        background-color: #000;
    }

    .nav {
        position: fixed;
        top: 0rem;
        width: 100%;
        z-index: 100;
        /* Animations */
        transition-timing-function: ease-in;
        transition: all 0.5s;
    }

    .nav_content {
        display: flex;
        justify-content: space-between;
    }

    .nav_logo {
        position: fixed;
        left: 1.5rem;
        top: 1.5rem;
        width: 5rem;
        object-fit: contain;
        cursor: pointer;
    }

    .nav_avatar {
        cursor: pointer;
        position: fixed;
        top: 1rem;
        right: 1.5rem;
        width: 2rem;
    }

    .nav_button {
        position: fixed;
        right: 2.5rem;
        top: 1.5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        color: #fff;
        font-weight: 600;
        background-color: rgb(87, 145, 165);
        border: 1px solid #58a6a2;
        border-radius: 2rem;
        cursor: pointer;
    }
}

@media(max-width: 414px) {
    .nav_black {
        background-color: #355874;
    }

    .nav {
        position: fixed;
        top: 1rem;
        padding: 0.75rem;
        width: 100%;
        height: 2rem;
        z-index: 100;
        /* Animations */
        transition-timing-function: ease-in;
        transition: all 0.5s;
    }

    .nav_content {
        display: flex;
        justify-content: space-between;
    }

    .nav_logo {
        position: fixed;
        left: 1.5rem;
        top: 1.5rem;
        width: 5.75rem;
        object-fit: contain;
        cursor: pointer;
    }

    .nav_avatar {
        cursor: pointer;
        position: fixed;
        top: 1rem;
        right: 1.5rem;
        width: 2rem;
    }

    .nav_button {
        position: fixed;
        right: 2.5rem;
        top: 1.5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        color: #fff;
        font-weight: 600;
        background-color: rgb(87, 145, 165);
        border: 1px solid rgb(88, 166, 162);
        border-radius: 2rem;
        cursor: pointer;
    }
}