@media(min-width: 415px) {
    .banner {
        position: relative;
        height: 30rem;
        color: #fff;
        object-fit: cover;
        background-size: 88%;
        background-repeat: no-repeat;
        /* background-position: right 22%; */
        background-position: right 20%;
    }

    .banner_contents {
        margin-left: 2.25rem;
        padding-top: 9rem;
        height: 14.25rem;
    }

    .banner_title {
        font-size: 3rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
    }

    .banner_description {
        font-size: 1rem;
        line-height: 1.3;
        padding-top: 1.3rem;
        padding-left: 0.2rem;
        max-width: 25rem;
        height: 5rem;
        font-weight: 500;
    }

    .banner_fadeBottom {
        height: 15rem;
        margin-top: -15rem;
        background:
            linear-gradient(180deg, transparent 60%, #00000033, #000 98%),
            linear-gradient(180deg, transparent 50%, #000 97%),
            linear-gradient(180deg, transparent 70%, #000 99%);
    }

    .banner_button {
        cursor: pointer;
        color: #fff;
        outline: none;
        background-color: #5791a5;
        border: 1px solid #58a6a2;
        font-weight: 700;
        border-radius: 2rem;
        padding: 0.5rem 2rem;
        margin-right: 1rem;
        margin-top: 1em;
        opacity: 0.8;
    }

    .banner_button:hover {
        opacity: 1;
    }

    .backdrops {
        height: 100%;
        width: 100%;
        background: linear-gradient(167deg, #000, transparent 7%),
            linear-gradient(217deg, transparent, transparent, #111 87%),
            linear-gradient(77deg, #000, #222, transparent 37%);
    }
}

@media(max-width: 414px) {
    .banner {
        position: relative;
        height: 30rem;
        color: #fff;
        object-fit: cover;
        background-size: 80%;
        background-position: right 20%;
    }

    .banner_contents {
        margin-left: 2.25rem;
        padding-top: 9rem;
        height: 14.25rem;
    }

    .banner_title {
        font-size: 3rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
    }

    .banner_description {
        font-size: 1rem;
        line-height: 1.3;
        padding-top: 1.3rem;
        padding-left: 0.2rem;
        max-width: 25rem;
        height: 5rem;
    }

    .banner_fadeBottom {
        height: 15rem;
        margin-top: -15rem;
        background:
            linear-gradient(180deg, transparent 60%, #00000033, #000 98%),
            linear-gradient(180deg, transparent 50%, #000 97%),
            linear-gradient(180deg, transparent 70%, #000 99%);
    }

    .banner_button {
        cursor: pointer;
        color: #fff;
        font-weight: 700;
        outline: none;
        background-color: #5791a5;
        border: 1px solid #58a6a2;
        border-radius: 2rem;
        padding: 0.5rem 2rem;
        margin-right: 1rem;
        margin-top: 1em;
    }

    .banner_button:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        transition: all 0.5s;
    }

    .backdrops {
        height: 100%;
        width: 100%;
        background: linear-gradient(167deg, #000, transparent 7%),
            linear-gradient(217deg, transparent, transparent, #111 87%),
            linear-gradient(77deg, #000, #222, transparent 37%);
    }
}